<template>
    <div>
      <div class="modal" v-bind:class="{'is-active':mostraCard}"> <!--v-bind:class se variabile = true,mostra il popup-->
        <div class="modal-background is-clickable" @click="chiudiCard"></div>
        <div class="modal-card" style="width: 75%">
          <section class="modal-card-body">
            <table class="table is-striped" style="width: 100%">
              <thead> <!--head della table-->
              <tr>  <!--riga-->
                <th v-for="campi in campiTable">
                  {{campi}}
                </th>
              </tr>
              </thead>

              <tbody> <!--body della table-->
              <tr class="has-text-centered" v-for="user in users">
                <td>
                  {{user.nome}}
                </td>
                <td>
                  {{user.cognome}}
                </td>
                <td>
                  {{user.username}}
                </td>
                <td>
                  {{user.email}}
                </td>
                <td>
                  {{user.address.citta}}
                </td>
                <td>
                  {{user.address.via}}
                </td>
                <td>
                  {{user.address.cap}}
                </td>
                <td>
                  {{user.address.regione}}
                </td>
                <td class="has-text-centered">

                </td>
              </tr>
              </tbody>
            </table>
          </section>
        </div>
      </div>
    </div>
</template>

<script>
    export default {
        name: "Card",
      data() {
        return {
          mostraCard: this.mostra,
          campiTable: ['nome','cognome','username','email', 'citta', 'cap', 'via', 'regione']
        }
      },
      methods: {
        chiudiCard() {
          this.mostraCard = false;
          this.$emit("chiudiCarta");
        }
      },
      props: {      //attributi che passi da fuori
        mostra: Boolean,
        users: Array,
      },
      watch: {
        mostra: function(){
          this.mostraCard = this.mostra;
        }
      }
    }
</script>

<style scoped>

</style>
