<template>
    <div>
      <div class="modal" v-bind:class="{'is-active':mostraPopup}"> <!--v-bind:class se variabile = true,mostra il popup-->
        <div class="modal-background is-clickable" @click="chiudiPopup"></div>
        <div class="modal-card">
          <header class="modal-card-head has-background-dark">
            <p class="modal-card-title has-text-white">congratulazioni!</p>
            <button class="delete" aria-label="close" @click="chiudiPopup"></button>
          </header>
          <section class="modal-card-body has-background-dark">
            <slot></slot> <!--contiene ciò che il tag popup nella pag. di riferimento ha al suo interno-->
          </section>
        </div>
      </div>
    </div>

</template>

<script>
    export default {
      name: "Popup",
      watch: {
        mostra: function(){
          this.mostraPopup = this.mostra;
        }
      },
      data() {
        return {
          mostraPopup: this.mostra,
        }
      },
      methods: {
        chiudiPopup() {
          this.mostraPopup = false;
          this.$router.push('/');   //redirect ad una pagina.
        }
      },
      props: {      //attributi che passi da fuori
        mostra: Boolean,
      }
    }
</script>

<style scoped>

</style>
