<template>
    <div>
      <Card :mostra="mostraCard" :users="rigaCliccata" @chiudiCarta="mostraCard = false"></Card>
      <table class="table is-striped" style="width: 100%">
        <thead> <!--head della table-->
        <tr>  <!--riga-->
          <th>  <!--casella per intestazioni con stile grafico-->
            nome azienda
          </th>
          <th>  <!--casella per intestazioni con stile grafico-->
            descrizione
          </th>
        </tr>
        </thead>

        <tbody> <!--body della table-->
        <tr class="is-clickable" v-for="compagnie in mostra" @click="mostraCard = true; rigaCliccata = compagnie.users">
          <td>
            {{compagnie.nome}}
          </td>
          <td class="has-text-centered" v-if="compagnie.descrizione != null">
            {{compagnie.descrizione}}
          </td>
          <td class="has-text-centered" v-else>
            -
          </td>
        </tr>
        </tbody>
      </table>
    </div>
</template>

<script>
    import Card from "./Card";
    export default {
        name: "Table",
      components: {Card},
      data(){
          return {
            mostraCard: false,
            rigaCliccata: [],
          }
      },
      props: ["mostra"]
    }
</script>

<style scoped>

</style>
