@import"bulma";
@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');
body,html{
  overflow-x: hidden;
}

.border{
  border: solid 1px black;
}
.border-right{
  border-right: solid 1px black;
}
.border-top{
  border-top: solid 1px black;
}
.nbs {
  box-shadow: none;
}
