@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

/* COLORS */

$family-sans-serif: 'Rajdhani', 'Rajdhani', sans-serif;

$radius-rounded : 0.75rem;

$en-green: #4abc30;
$en-green-inverse: findColorInvert($en-green);
$en-pink: rgba(199,8,109,1);
$en-pink-inverse: findColorInvert($en-pink);
$en-pink-light: #e3a9fd;
$en-pink-light-inverse: findColorInvert($en-pink-light);
$en-pink-superlight: #edb8ff;
$en-pink-superlight-inverse: findColorInvert($en-pink-superlight);
$en-violet: #613286;
$en-violet-inverse:  findColorInvert($en-violet);
$en-blue: #271a87;
$en-blue-inverse: findColorInvert($en-blue);
$en-panna: #f2fae3;
$en-panna-inverse: findColorInvert($en-panna);
$dark-transparent: rgba(243, 243, 243, 0.31);
$dark-transparent-inverse: findColorInvert($dark-transparent);
$bordeaux: #800000;
$bordeaux-inverse: findColorInvert($bordeaux);
$en-pink-gradient: linear-gradient(90deg, rgba(39,12,57,1) 0%, rgba(199,8,109,1) 100%);

$modal-content-width: 400px;

@import "~bulma/sass/utilities/derived-variables";

$addColors: (
  "en-green": ($en-green, $en-green-inverse),
  "en-pink": ($en-pink, $en-pink-inverse),
  "en-pink-light": ($en-pink-light, $en-pink-light-inverse),
  "en-pink-superlight": ($en-pink-superlight, $en-pink-superlight-inverse),
  "en-violet": ($en-violet, $en-violet-inverse),
  "en-blue": ($en-blue, $en-blue-inverse),
  "en-panna": ($en-panna, $en-panna-inverse),
  "dark-transparent": ($dark-transparent, $dark-transparent-inverse),
  "bordeaux": ($bordeaux, $bordeaux-inverse),
);
$colors: map-merge($colors, $addColors);


$widescreen-enabled: false;
$fullhd-enabled: false;

@import "~bulma/bulma";

.has-text-uppercase {
  text-transform: uppercase;
}

$borders-side : (
  t: "top",
  b: "bottom",
  l: "left",
  r: "right",
);

$borders-side-radius: (
  tl: "top-left",
  tr: "top-right",
  bl: "bottom-left",
  br: "bottom-right",
);
$borders-side-radius: map-merge($borders-side, $borders-side-radius);

$borders-size : (
  0: 0,
  1: 0.075rem,
  2: 0.1rem,
  3: 0.125rem,
  4: 0.250rem,
  5: 1rem,
  6: 2rem,
  25: 25%,
  50: 50%,
);

$borders-size-radius : (
  0: 0,
  1: 0.075rem,
  2: 0.1rem,
  3: 0.125rem,
  4: 0.250rem,
  5: 1rem,
  10: 10%,
  50: 50%,
);

$default-border-size: 0.0125rem;

.has-border {
  border: solid $default-border-size;
}
.hover-has-border {
  &:hover {
    border: solid $default-border-size;
  }
}

@each $sizename, $size in $borders-size {
  .has-border-#{$sizename} {
    border-width: $size;
  }
  .hover-has-border-#{$sizename} {
    &:hover {
      border-width: $size;
    }
  }
}

@each $sidename, $border in $borders-side {

  .has-border-#{$sidename} {
    border-#{$border}: solid $default-border-size;
  }

  .hover-has-border-#{$sidename} {
    &:hover {
      border-#{$border}: solid $default-border-size;
    }
  }

  @each $sizename, $size in $borders-size {
    .has-border-#{$sidename}-#{$sizename} {
      border-#{$border}: solid $default-border-size;
      border-width: $size;
    }

    .hover-has-border-#{$sidename}-#{$sizename} {
      &:hover{
        border-#{$border}: solid $default-border-size;
        border-width: $size;
      }
    }

  }

}

@each $sizename, $size in $borders-size {
  .has-border-#{$sizename} {
    border: solid $size;
  }
  .hover-has-border-#{$sizename} {
    &:hover {
      border: solid $size;
    }
  }
}


@each $sizename, $size in $borders-size-radius {
  .is-rounded-#{$sizename} {
    border-radius: $size;
  }
}


@each $sizename, $size in $borders-size-radius {

  .has-border-radius-#{$sizename} {
    border-radius: $size!important;
  }


  @each $sidename, $side in $borders-side-radius {

    .has-border-#{$sidename}-radius-#{$sizename} {
      border-#{$side}-radius: $size!important;
    }

  }
}

.has-background-transparent {
  background-color: transparent;
}


@each $colorName, $color in $colors {
  .has-border-#{$colorName} {
    border-color: nth($color, 1);
  }
  .hover-has-border-#{$colorName} {
    &:hover {
      border-color: nth($color, 1);
    }
  }
  .hover-has-text-#{$colorName}, a.hover-has-text-#{$colorName} {

    text-decoration: none;

    &:hover {
      color: nth($color, 1)!important;
    }

    &:link {
      color: nth($color, 1)!important;
    }

    /* visited link */
    &:visited {
      color: nth($color, 1)!important;
    }

    /* mouse over link */
    &:hover {
      color: nth($color, 1)!important;
    }

    /* selected link */
    &:active {
      color: nth($color, 1)!important;
    }
  }

}

@include until($tablet) {
  .p-0-touch {
    padding: 0!important;
  }

  @each $sidename, $border in $borders-side {

    .p#{$sidename}-0-touch {
      padding-#{$border}: 0!important;
    }
  }
}
@include from($desktop) {
  .p-0-desktop {
    padding: 0!important;
  }

  @each $sidename, $border in $borders-side {

    .p#{$sidename}-0-desktop {
      padding-#{$border}: 0!important;
    }
  }
}

.is-link {
  font-weight: 700!important;
}

.is-absolute {
  position: absolute!important;
}

.image-illuminate {
  filter: brightness(175%);
}

.hover-image-illuminate {
  &:hover {
    filter: brightness(175%);
  }
}

.has-image-centered {
  text-align: center;

  img {
    display: inline-block;
  }

}

.mx-auto {
  margin: auto;
}
.mx-auto-mobile {
  margin: initial;
}
.mx-auto-tablet {
  margin: initial;
}
@include tablet-only {
  .mx-auto-mobile {
    margin: initial;
  }
  .mx-auto-tablet {
    margin: auto;
  }
}
@include mobile {
  .mx-auto-mobile {
    margin: auto;
  }
  .mx-auto-tablet {
    margin: auto;
  }
}

h1, .is-h1 {
  font-weight: 200;
  font-family: nth($family-sans-serif, 2), sans-serif!important;
}
h2, .is-h2  {
  font-weight: 500;
  font-family: nth($family-sans-serif, 2), sans-serif!important;
}
h3, .is-h3  {
  font-weight: 600;
  font-family: nth($family-sans-serif, 2), sans-serif!important;
}
h4, .is-h4  {
  font-weight: 700;
  font-family: nth($family-sans-serif, 2), sans-serif!important;
}

p, span {
  font-family: nth($family-sans-serif, 1), sans-serif!important;
  font-weight: 400;
}


.p-7 {
  padding: 4rem;
}

.pink-gradient {
  background: rgb(39,12,57);
  background: linear-gradient(90deg, rgba(39,12,57,1) 0%, rgba(199,8,109,1) 100%);
}
.light-gradient {
  background: rgb(126,140,205);
  background: linear-gradient(90deg, rgba(126,140,205,1) 0%, rgba(241,193,255,1) 100%);
}

.has-overflow-hidden {
  overflow: hidden;
}

.has-text-spaced {
  letter-spacing: 10px;
}

.hover-image-illuminate {
  &:hover {
    filter: brightness(200%);
  }
}

:root {
  --en-panna: #{$en-panna};
}
