<template>
  <div class="has-background-bordeaux">
    <!--stile della pagina-->
    <div style="height: 100vh; display: flex; vertical-align: middle;">
      <div class="box border" style=" display: inline; margin: auto; width:70%">
        <div class="columns">
          <div class="column is-12">
            <!--table-->
            <Table v-bind:mostra="companies"></Table>
          </div>
        </div>
        <button class="button is-dark" @click="logout">Logout</button>
      </div>
    </div>
  </div>
</template>

<script>
    import Table from "../components/Table";
    export default {
        name: "admin",
      components: {Table},
      middleware: ['authenticate'],
      data(){
        return {
          companies: [],
          countries: [],
        }
      },
      methods: {
        logout() {
          this.$store.dispatch('auth/logout');
        },
      },
      mounted() {
        this.$axios.get('companies').then(companies => this.companies = companies.data);
        this.$axios.get('countries').then(regioni => this.countries = regioni.data);
      }
    }
</script>

<style scoped>

</style>
