<template>
  <div>
    <div class="has-background-bordeaux">
      <div style="height: 100vh; display: flex; vertical-align: middle;">
        <div class="box  nbs has-background-bordeaux" style=" display: inline; margin: auto;">
          <p class="is-size-1" style="font-family: 'Viaoda Libre'; color: white;">Benvenuto nell'applicazione!</p>
          <div class="has-text-right">
            <button class="button is-dark" @click="logout">Logout</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
      middleware: ['authenticate'],
      methods: {
        logout() {
          this.$store.dispatch('auth/logout');
        },
      },
      mounted(){
        }
      }
</script>

<style scoped>

</style>
