<template>
  <div>
    <div class="has-background-bordeaux">
      <div style="height: 100vh; display: flex; vertical-align: middle;">
        <div class="box border" style=" display: inline; margin: auto; width:45%">
          <div class="columns">
            <div class="column">
              <!--form per l'accesso, email-->
              <div class="field">
                <label class="label">email</label>
                <div class="control has-icons-left">
                         <input v-model="email" class="input" type="email" placeholder="inserisci email">
                  <span class="icon is-left">
                  <i class="fa fa-envelope"></i>
                </span>
                </div>
              </div>
              <!--password-->
              <div class="field">
                <label class="label">password</label>
                <div class="control has-icons-left">
                  <input v-model="password" class="input" type="password" placeholder="inserisci password">
                  <span class="icon is-left">
                  <i class="fa fa-unlock-alt"></i>
                </span>
                </div>
              </div>
              <div class="filed has-text-right">
                <button class="button is-bordeaux" @click="register">registrati</button>
                <button class="button is-dark" @click="login">Invio</button>
              </div>
              <span class="has-text-bordeaux">{{haveError}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        name: "login",
        data(){
          return {
            email: [],
            password: [],
          }
        },
      computed: {
          haveError: function(){
            return this.$store.state.auth.error;
          }
      },
      methods: {
          login(){
            this.$store.dispatch('auth/login', {email: this.email, password: this.password});
          },
          register(){
            this.$router.push('/register');
          }
      },
    }
</script>

<style scoped>

</style>
