<template> <!--contenuto della pagina-->
  <div class="has-background-bordeaux">
    <!--popup-->
    <Popup v-bind:mostra="risposta.status">
      <span class="has-text-white">
        {{risposta.message}}
      </span>
    </Popup>
    <!--pagina-->
    <div style="height: 100vh; display: flex; vertical-align: middle;">
      <div class="box border" style=" display: inline; margin: auto; width:45%">
        <div class="columns">
          <div class="column is-half border-right">
            <!--form: nome-->
            <div class="field">
              <label class="label">Nome</label>
              <div class="control has-icons-left">
                <input class="input" v-model="nome" v-bind:class="{'is-danger':risposta.error && risposta.error.nome}"
                       @input="controllaCampi('nome')" type="text" placeholder="inserisci nome">
                <span class="icon is-left">
                  <i class="fa fa-user"></i>
                </span>
              </div>
              <p class="help is-danger" v-if="risposta.error && risposta.error.nome">{{risposta.error.nome[0]}}</p>
            </div>
            <!--cognome-->
            <div class="field">
              <div class="label">Cognome</div>
              <div class="control has-icons-left">
                <input class="input" v-model="cognome" v-bind:class="{'is-danger':risposta.error && risposta.error.cognome}"
                       @input="controllaCampi('cognome')" type="text" placeholder="inserisci cognome">
                <span class="icon is-left">
                  <i class="fa fa-user"></i>
                </span>
              </div>
              <p class="help is-danger" v-if="risposta.error && risposta.error.cognome">{{risposta.error.cognome[0]}}</p>
            </div>
            <!--username-->
            <div class="field">
              <div class="label">Username</div>
              <div class="control has-icons-left">
                <input class="input" v-model="username" v-bind:class="{'is-danger':risposta.error && risposta.error.username}"
                       @input="controllaCampi('username')" type="text" placeholder="inserisci username">
                <span class="icon is-left">
                  <i class="fa fa-user"></i>
                </span>
              </div>
              <p class="help is-danger" v-if="risposta.error && risposta.error.username">{{risposta.error.username[0]}}</p>
            </div>
            <!--email-->
            <div class="field">
              <div class="label">Email</div>
              <div class="control has-icons-left">
                <input class="input" v-model="email" v-bind:class="{'is-danger':risposta.error && risposta.error.email}"
                       @input="controllaCampi('email')" type="email" placeholder="inserisci email">
                <span class="icon is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
              <p class="help is-danger" v-if="risposta.error && risposta.error.email">{{risposta.error.email[0]}}</p>
            </div>
            <!--password-->
              <div class="field">
                <div class="label">Password</div>
                <div class="control has-icons-left">
                  <input class="input" type="password" v-model="password" v-bind:class="{'is-danger':risposta.error && risposta.error.password}"
                         @input="controllaCampi('password')" placeholder="inserisci password">
                  <span class="icon is-left">
                  <i class="fa fa-lock"></i>
                </span>
                </div>
                <p class="help is-danger" v-if="risposta.error && risposta.error.password">{{risposta.error.password[0]}}</p>
              </div>
          </div>
          <div class="column">
            <!--conferma password-->
              <div class="field">
                <div class="label">Conferma password</div>
                <div class="control has-icons-left">
                  <input class="input" type="password" v-model="confermaPassword" v-bind:class="{'is-danger':risposta.error && risposta.error.confermaPassword}"
                         @input="controllaCampi('confermaPassword')" placeholder="inserisci nome azienda">
                  <span class="icon is-left">
                  <i class="fa fa-building"></i>
                </span>
                </div>
                <p class="help is-danger" v-if="risposta.error && risposta.error.confermaPassword">{{risposta.error.confermaPassword[0]}}</p>
              </div>
            <!--indirizzo: città-->
            <div class="field">
              <div class="label">Città</div>
              <div class="control has-icons-left">
                <input class="input" v-model="citta" v-bind:class="{'is-danger':risposta.error && risposta.error.citta}"
                       @input="controllaCampi('citta')" type="text" placeholder="inserisci città">
                <span class="icon is-left">
                  <i class="fa fa-building"></i>
                </span>
              </div>
              <p class="help is-danger" v-if="risposta.error && risposta.error.citta">{{risposta.error.citta[0]}}</p>
            </div>
            <!--via-->
            <div class="field">
              <div class="label">Via</div>
              <div class="control has-icons-left">
                <input class="input" v-model="via" v-bind:class="{'is-danger':risposta.error && risposta.error.via}"
                       @input="controllaCampi('via')" type="text" placeholder="inserisci via">
                <span class="icon is-left">
                  <i class="fa fa-road"></i>
                </span>
              </div>
              <p class="help is-danger" v-if="risposta.error && risposta.error.via">{{risposta.error.via[0]}}</p>
            </div>
            <!--cap-->
            <div class="field">
              <div class="label">Cap</div>
              <div class="control has-icons-left">
                <input class="input" v-model="cap" v-bind:class="{'is-danger':risposta.error && risposta.error.cap}"
                       @input="controllaCampi('cap')" type="text" placeholder="inserisci cap">
                <span class="icon is-left">
                  <i class="fa fa-map-signs"></i>
                </span>
              </div>
              <p class="help is-danger" v-if="risposta.error && risposta.error.cap">{{risposta.error.cap[0]}}</p>
            </div>
            <!--regione-->
            <div class="field">
              <div class="label">regione</div>
              <div class="control">
                <div class="select is-rounded is-dark is-fullwidth" v-bind:class="{'is-danger':risposta.error && risposta.error.regione}">
                  <select v-model="regione" @input="controllaCampi('regione')">
                    <option v-for="regione in countries">{{regione.nome}}</option>
                  </select>
                </div>
              </div>
              <p class="help is-danger" v-if="risposta.error && risposta.error.regione">{{risposta.error.regione[0]}}</p>
            </div>
          </div>
        </div>

        <!--checkbox-->
        <div class="columns">
          <div class="column is-12">
            <label class="checkbox">
              <input type="checkbox" v-model="checkboxForm"> ho un'azienda
            </label>
          </div>
        </div>

        <div class="columns is-multiline border-top" v-if="checkboxForm">
          <!--nome-->
          <div class="column is-12">
            <div class="field">
              <div class="label">Nome Azienda</div>
              <div class="control has-icons-left">
                <input class="input" type="text" v-model="nomeAzienda" v-bind:class="{'is-danger':risposta.error && risposta.error.nomeAzienda}"
                       @input="controllaCampi('nomeAzienda')" placeholder="inserisci nome azienda">
                <span class="icon is-left">
                  <i class="fa fa-building"></i>
                </span>
              </div>
              <p class="help is-danger" v-if="risposta.error && risposta.error.nomeAzienda">{{risposta.error.nomeAzienda[0]}}</p>
            </div>
          </div>
          <!--descrizione-->
          <div class="column is-12">
            <div class="field">
              <div class="label">Descrizione</div>
              <div class="control has-icons-left">
                <textarea class="textarea" v-model="descrizione" v-bind:class="{'is-danger':risposta.error && risposta.error.descrizione}"
                          @input="controllaCampi('descrizione')" placeholder="inserisci descrizione"></textarea>
              </div>
              <p class="help is-danger" v-if="risposta.error && risposta.error.descrizione">{{risposta.error.descrizione[0]}}</p>
            </div>
          </div>

        </div>
        <div class="columns">
          <div class="column is-12 has-text-right">
            <div class="field nbs">
              <button class="button is-dark" @click="inviaForm">Invio</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Popup from "../components/Popup";

  export default {
    components: {Popup},
    data() {
      return {
        countries: [],
        risposta: {},
        nome: "",
        cognome: "",
        username: "",
        email: "",
        password: "",
        confermaPassword: "",
        citta: "",
        via: "",
        cap: "",
        regione: "",
        nomeAzienda: "",
        descrizione: "",
        checkboxForm: false,
      }
    },
    mounted() {
      this.$axios.get('countries').then(regioni => this.countries = regioni.data);
    },
    methods: {  //al suo interno posso creare funzioni da usare all'interno dello stesso componente.
      inviaForm() {
        this.$axios.post('register', {
          nome: this.nome,
          cognome: this.cognome,
          username: this.username,
          email: this.email,
          password: this.password,
          confermaPassword: this.confermaPassword,
          citta: this.citta,
          via: this.via,
          cap: this.cap,
          regione: this.regione,
          nomeAzienda: this.nomeAzienda,
          descrizione: this.descrizione,
        }).then(risposta => this.risposta = risposta.data).catch(error => console.log(error));
      },
      controllaCampi(campo) {
        if(this.risposta.error)
          this.risposta.error[campo] = false;
      }
    },
  };
</script>
